@{
    ViewData["Title"] = "Characters";
}

<!-- Views/Home/Characters.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sclae=1.0">
    <title>@ViewData["Title"] - Sheetmaster</title>
    <link rel="" stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <h1>Characters</h1>
    </header>
    <main>
        <p>Create a new Character, or modify an existing one.</p>
        <!-- Add form or table for character sheets here-->
    </main>
    <footer>
        <p>&copy; 2024 My First HTML Page</p>
    </footer>
</body>
</html>