@{
    ViewData["Title"] = "Class Tools";
}

<!-- Views/ClassTools/Index.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sclae=1.0">
    <title>Sheetmaster - Class Tools</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <h1>Class Tools</h1>
    </header>
    <main>
        <p>Use these class tools to improve your gameplay experience.</p>
        <!-- Add tools and resources for classes -->
        <!-- Overall tool/widget that tracks 'freehand' health, spell slots, action die, etc. and rolls dice -->
        <!-- DRUID TOOL: Tracks beasts that the player has encountered. -->
    </main>
</body>
</html>