@{
    ViewData["Title"] = "Dashboard";
}

<!-- Views/Home/Dashboard.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sclae=1.0">
    <title>Sheetmaster - Landing</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>
    <main>
        <p>Select the options below to access the desired utility.</p>
        <nav>
            <ul>
                <li><a href="/Characters">Characters</a></li>
                <li><a href="/ClassTools">Class Tools</a></li>
                <li><a href="/Maps">Maps</a></li>
                <li><a href="/SpellList">Spell List</a></li>
            </ul>
        </nav>
    </main>
    <footer>
        <p>&copy; 2024 My First HTML Page</p>
    </footer>
</body>
</html>