@{
    ViewData["Title"] = "Home Page";
}

<!-- Views/Home/Index.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    @* Title *@
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheetmaster</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <header>
        <h1>Welcome to Sheetmaster!</h1>
    </header>
    <main>
        <section>
            <button class="btn">Login</button>
        </section>
        <a href="/Account/Login">Login</a>
        <p>To get started, please log in by clicking the "Sign in" button above.</p>
        <p>To explain in one paragraph, Sheetmaster is an application to create character sheets within. We hope you enjoy your stay!</p>
    </main>
    <footer>
        <p>&copy; 2024 My First HTML Page</p>
    </footer>
</body>
</html>